{%extends "base.html"%}
{% block content %}

<div class="container" style="margin-top: 20px; display: flex; flex-direction: column; align-items: center;" >
    <div class="jumbotron text-center">
      <h1>Some amazing facts about dogs!</h1> <br><br>

      <p>All facts are taken from here </p>
      <p>https://www.purina.co.uk/dogs/behaviour-and-training/understanding-dog-behaviours/amazing-dog-facts</p>
    </div>

    <div class="jumbotron text-center">
        <h3>The Beatles song ‘A Day in the Life’ has a frequency only dogs can hear</h3> <br><br>
        <p>In an interview in 2013, Paul McCartney said that he added a frequency only dogs can hear to the end of the Beatles song ‘A Day in the Life’. So watch your dog when you play the song! How’s that for an amazing dog fact? </p>
    </div>

    <div class="jumbotron text-center">
        <h3>A Bloodhound’s sense of smell can be used as evidence in court</h3> <br><br>
        <p>According to PBS, a Bloodhound’s sense of smell is so spot on that it can be admitted as evidence in a court of law. Now if you thought that was an incredible dog fact, prepare to have your mind blown. Bloodhounds can also follow tracks that are over 300 hours old and can stay on a trail for over 130 miles!</p>
        </div>

    <div class="jumbotron text-center">
        <h3>Basenji dogs don’t bark, they yodel</h3> <br><br>
        <p>If you thought all dogs barked, then prepare yourself for this dog fact. The Basenji dog doesn’t tend to bark, instead they are known to yodel, whine or scream.</p>
    </div>

    <div class="jumbotron text-center">
        <h3> A Greyhound could beat a Cheetah in a long distance race </h3> <br><br>
        <p>A Greyhound would actually beat a Cheetah in a long distance race! According to Psychology Today, Greyhounds are excellent long distance runners and can keep a speed of 35mph for up to 7 miles. Where the Cheetah is incredibly fast it can only keep its speed for around 200 -300 yards, so they may have the running start but it would soon be surpassed by a Greyhound!</p>
    </div>

    <img src="./media/cool_boi.jpg" alt="puppy">
</div> 


{%endblock%}