{%extends "base.html"%}
{% block content %}

<div class="container" style="margin-top: 20px; display: flex; flex-direction: column; align-items: center;" >
    <div class="jumbotron text-center">
      <h1>Welcome to the amazing page of DS-LAB7</h1> <br><br>

      <h2>Navbar at the top will take you to any page you want!</h2>

    </div>

    <img src="./media/puppy_hello.jpeg" alt="puppy">
    <img src="./media/nginx_screen.png" alt="nginx">
    <img src="./media/dns_screen.png" alt="dns">
</div> 


{%endblock%}